@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #1C8EF9;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  /* width: 450px; */
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  box-shadow: 0px 4px 55px 0px rgb(34 35 58 / 11%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin-top: 5rem;
  background: url(images/good-doggy-animate.svg) no-repeat right -10px;
  background-color: white;
}

.form-container {
  position: relative;
  min-width: 450px;
  width: 50%;
  box-shadow: 0px 4px 17px rgb(34 35 58 / 12%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  margin: auto;
  margin-left: 2%;
}

.auth-wrapper .form-control {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.auth-wrapper .form-group {
  margin-bottom: 1.5rem;
}
.auth-wrapper .form-group label{
  font-size: .9rem;
  margin-bottom: 0.3rem;
}

.custom-control-label {
  font-weight: 400;
  margin-bottom: 0 !important;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.attribute-link{
  position: fixed;
  bottom: 0;
  right: 12px;
  color: #c4c4c4;
  font-size: 10px;
}

.form-pet-icon-top{
  width: 112px;
  height: 110px;
  position: absolute;
  background-color: #d0cde1;
  border-radius: 9px;
  top: -53px;
  left: -43px;
  box-shadow: 0px 1px 13px rgb(34 35 58 / 5%);
  background-image: url(images/Playful-cat.svg);
  background-size: 201%;
  background-position-x: -51px;
  background-position-y: -77px;
}

.home-nav{
  border-bottom: 1px solid lightgray;
}
.card-container{
  margin-top: 20px;
}
.ui.cards {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 80%;
  padding: 15px;

}

.ui.card {
  padding: 15px;
  margin: 15px;
  flex-basis:30%;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  justify-content: space-between;
}

.ui.card .image {
  margin-bottom: 15px;
  margin: -15px;
  margin-bottom: 15px;
}

.ui.card .image img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.ui.card .content .header {
  font-size: 1.6rem;
  color: #027bfe;
}

.ui.card .content .meta {
  font-family: sans-serif;
  font-size: 1rem;
  color: #4c4c4c;
}

.ui.card .content .description {
  margin: 10px auto;
}

.ui.card .extra {
  margin-bottom: 10px;
}

.ui.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact-btn .btn{
  width: 100%;
}

.main {
  margin-top: 40px;
  padding: 15px 25px;
}

.header-container{
  padding-top: 15px;
  text-align: center;
}

.header-container .section-header{
  display: block;
  z-index: 1;
}

.header-container .img-container img{
  width: 300px;
  position: absolute;
  top: 0;
  left: 18%;
  z-index: -2;
}

.section-header {
  margin-top: 3rem;
  text-align: center;
  font-size: 2.4rem;
  
}

.navbar{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.section-container {
  text-align: center;
  padding: 15px;
}

.keeper-calendar-container .rdrDateRangePickerWrapper {
  margin-top: 28px;
}

.keeper-calendar-container .btn{
  display:block;
  margin: auto;
  margin-top: 30px;
  width: 558px;
}
