@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #1C8EF9;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  /* width: 450px; */
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  box-shadow: 0px 4px 55px 0px rgb(34 35 58 / 11%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin-top: 5rem;
  background: url(images/good-doggy-animate.svg) no-repeat right -10px;
}

.form-container {
  position: relative;
  min-width: 450px;
  width: 50%;
  box-shadow: 0px 4px 17px rgb(34 35 58 / 12%);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  margin: auto;
  margin-left: 2%;
}

.auth-wrapper .form-control {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.auth-wrapper .form-group {
  margin-bottom: 1.5rem;
}
.auth-wrapper .form-group label{
  font-size: .9rem;
  margin-bottom: 0.3rem;
}

.custom-control-label {
  font-weight: 400;
  margin-bottom: 0 !important;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.attribute-link{
  position: fixed;
  bottom: 0;
  right: 12px;
  color: #c4c4c4;
  font-size: 10px;
}

.form-pet-icon-top{
  width: 112px;
  height: 110px;
  position: absolute;
  background-color: #d0cde1;
  border-radius: 9px;
  top: -53px;
  left: -43px;
  box-shadow: 0px 1px 13px rgb(34 35 58 / 5%);
  background-image: url(images/Playful-cat.svg);
  background-size: 201%;
  background-position-x: -51px;
  background-position-y: -77px;
}
